main {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

h1 {
  font-size: 50px;
}

.cliker {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.cliker__btn {
  cursor: pointer;

  border: none;
  color: #fff;
  background: none;
  border-radius: 8px;

  transition:
    background-color 0.3s ease-in-out,
    transform 1s ease-in-out;
}

.coins,
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coins span {
  font-size: 23px;
}

.shop h2 {
  margin-bottom: 10px;
}

.shop__container {
  display: flex;
  align-items: center;

  gap: 20px;
}

.shop__container--btn {
  cursor: pointer;
  display: flex;
  align-items: center;

  gap: 10px;
  padding: 5px 10px;
  outline: none;

  border: none;
  border-radius: 15px;
  color: #fff;
  background-color: rgb(189, 66, 139);

  transition: 0.3s ease-in-out;
}

.shop__container--btn:hover {
  scale: 1.05;

  background-color: #610d88fb;
}
