main {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50px;
}

.container {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.container__main {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

.container--rules {
  position: absolute;

  left: 3%;
  width: 30%;

  margin-left: 20px;
  padding: 10px;
}

.container--rules h2 {
  text-align: center;
  margin-bottom: 15px;
}

.container--rules div {
  text-align: justify;

  font-size: 14px;
}

.container--rules div p span {
  font-size: 16px;
  color: rgb(189, 66, 139);
}

.container--info {
  position: absolute;

  right: 3%;
  width: 25%;

  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 10px;

  font-size: 16px;
}

.container--info h2 {
  text-align: center;
}

.container--info div {
  display: flex;
  align-items: center;

  gap: 5px;
}

.cliker {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.cliker__btn {
  border: none;
  color: #fff;
  background: none;
  border-radius: 8px;

  transition: 0.5s ease-in-out;
}

.cliker__btn:hover {
  scale: 1.05;
}

.coins,
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coins span {
  display: flex;
  align-items: center;

  gap: 5px;
  font-size: 23px;
}

.shop h2 {
  margin-bottom: 10px;
}

.shop__container {
  display: flex;
  align-items: center;

  gap: 20px;
}

.button {
  position: relative;
  min-width: 100px;
  min-height: 30px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
  padding: 10px;

  font-family: 'Rubik', sans-serif;
  font-size: 14px;

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;

  background: rgb(189, 66, 139);
  background: linear-gradient(90deg,
      rgba(189, 66, 139, 1) 0%,
      rgba(189, 66, 139, 1) 100%);
  border: none;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(189, 66, 139, 0.64);

  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.shop__container--btn:hover {
  scale: 1.05;

  background-color: #610d88fb;
}

@media (max-width: 992px) {
  .container {
    height: 145vh;
    flex-direction: column;

    gap: 0;
  }

  .container--rules,
  .container--info {
    position: static;

    width: 90%;
    align-items: center;

    margin: 0 auto;
  }

  .container--info {
    height: 15%;
    border-bottom: 3px dotted #000;
  }

  .border__dark {
    border-bottom: 3px dotted #fff !important;
  }
}
