@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
button {
  font-family: "Rubik", sans-serif;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.container {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.active {
  animation: zoom-in-out 0.3s forwards;
}

.btn {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;

  /* padding: 5px 20px; */

  width: 60px;
  height: 30px;

  display: flex;
  align-items: center;

  background: #c5c5c5;
  border: none;
  border-radius: 15px;

  font-size: 18px;
}

.btn__state {
  position: absolute;
  left: 2px;

  transition: left 0.3s ease;
}

.dark {
  background-color: #1d1d1d;
  color: #fff;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
